html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.colorWhite{
  color: #fff;
  font-size: 60px;
}
.dd:hover .dm {
  display: block;
}
.dd2:hover .dm2 {
  display: block;
}
.btns{
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .socBtn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .inputBox{
    margin-bottom: 10px;
  }
  .subBtn{
    text-align: center;
  }
  .colorWhite{
    font-size: 3em;
  }
  .menu{
    text-align: center;
  }
  .menuItem{
    margin-bottom: 5px;
  }
}


.social{
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logoImg{
  border-radius: 50%;
  margin-top: 10px;  
  /*margin-left: 70px;  */
}



#bgc{
	background-image: url("1.jpg");

  /* Full height */
  /*height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gridView1{
  width:250px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  float: left;
  margin: 12px;
  border: 1px solid grey;
  height: 250px;
}
